<div>
  <!-- Topbar -->
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
    style="background-color: #50556c !important;">

    <!-- Sidebar Toggle (Topbar) -->
    <button @click="changeSideNavBarState" id="sidebarToggleTop" class="btn btn-circle d-md-none rounded-circle mr-3 ml-3">
      <font-awesome-icon icon="fa-solid fa-bars" />
    </button>

    <div class="topbar-divider d-md-none"></div>

    <!-- Topbar Search -->
    <!-- <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
      <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </form> -->

    <h1 class="title text-white text-md-center ml-sm-2 ml-md-3 ml-lg-5">
      <!-- <font-awesome-icon icon="fa-solid fa-caret-right" /> -->
      <span>{{ routeTitle }}</span>
    </h1>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

      <div class="topbar-divider d-block"></div>

      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="mr-4 d-none d-sm-inline text-uppercase text-white">Hola {{loggedUser.nombre_organizacion}}</span>
          <img id="navBarImg" class="img-profile rounded-circle" :src="imageUrl">
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <p @click="redirectConfiguration" class="dropdown-item pointer">
            <font-awesome-icon icon="fas fa-cog" /> &nbsp;
            Configuración
          </p>
          <div class="dropdown-divider"></div>
          <p class="dropdown-item pointer" data-toggle="modal" data-target="#logoutModal">
            <font-awesome-icon icon="fa-solid fa-right-from-bracket" /> &nbsp;
            Logout
          </p>
        </div>
      </li>

    </ul>

  </nav>
  <!-- End of Topbar -->
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas abandonar?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecciona "Logout" si realmente deseas abandonar la sesión.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a @click="logout" class="btn btn-primary">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>