<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-dark sidebar collapsed sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center pointer" @click="redirectToOption('Tickets')">
    <div v-if="!hideSideNavBar" class="sidebar-brand-text mx-3">
      <img src="~/static/logo-garcia-ucles.png" alt="Moldes García Uclés en Ibi Logo" class="fusion-standaoldes-logord-logo m w-100">
    </div>
    <div v-else class="sidebar-brand-text mx-3">
      <img src="~/static/logo-garcia-ucles-mini.png" alt="Moldes García Uclés en Ibi Logo" class="fusion-standaoldes-logord-logo m w-100">
    </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item text-center mt-4 f-15" :class="{'ml-2': width > 767, 'mr-2': width <= 767}" v-for="(option, index) in actualOptions" @click="redirectToOption(option)">
    <template v-if="index !== actualOptions.length - 1">
      <a class="nav-link pointer">
        <template v-if="checkSelected(option)">
          <font-awesome-icon :icon="checkIcon(option)" class="side-nav-bar-focus-color" />&nbsp;
          <span class="text-uppercase">
            <strong class="side-nav-bar-focus-color">{{ option }}&nbsp;
              <font-awesome-icon icon="fa-solid fa-caret-left" />
            </strong>
          </span>
        </template>
        <template v-else>
          <font-awesome-icon :icon="checkIcon(option)" />&nbsp;
          <span class="text-uppercase text-white">{{ option }}</span>
        </template>
      </a>
    </template>
  </li>

  
  <li class="text-center text-hover">
    <hr class="sidebar-divider my-0">
    <br>
    <a class="nav-link pointer text-white" @click="redirectToOption('Política de privacidad')">
      <span :class="{'side-nav-bar-focus-color': checkSelected('Política de privacidad')}">
        {{actualOptions[actualOptions.length-1]}}
      </span>
    </a>
  </li>
  

</ul>
<!-- End of Sidebar -->