<div>
  {{ title }}
  <form enctype='multipart/form-data' @submit.prevent="submitForm">
    <img :src="imageUrl" >
    <input type="file" name="file" id="file" ref="myFile" accept=".jpeg,.jpg,.png,image/jpeg,image/png" @change="loadImage">
    <p v-if="imageError">{{imageErrorMsg}}</p>
    <input type="text" name="name" id="name" v-model="name" :disabled="!isAdminUser" placeholder="Nombre organización"  @blur="checkName">
    <p v-if="nameError">{{nameErrorMsg}}</p>
    <input type="email" name="email" id="email" v-model="email" :disabled="!isAdminUser" placeholder="Email"  @blur="checkEmail">
    <p v-if="emailError">{{emailErrorMsg}}</p>
    <input type="password" name="password1" id="password1" v-model="password1" placeholder="Contraseña" minlength="8">
    <input type="password" name="password2" id="password2" v-model="password2" placeholder="Repite la contraseña" minlength="8" @blur="checkPassword">
    <p v-if="passwordError">{{passwordErrorMsg}}</p>
    <label for="enabled">Habilitado</label>
    <input type="checkbox" name="enabled" id="enabled" v-model="enabled">
    <button type="submit">Guardar cambios</button>
  </form>
  <p v-if="userExistsError"> {{ userExistsErrorMsg }}</p>
</div>


<!-- <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <p v-show="!isProfile" @click="returnRoute">Volver atrás</p>
      <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
          <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                  aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Dropdown Header:</div>
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
              </div>
          </div>
      </div>
      <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
              <canvas id="myPieChart"></canvas>
          </div>
          <div class="mt-4 text-center small">
              <span class="mr-2">
                  <i class="fas fa-circle text-primary"></i> Direct
              </span>
              <span class="mr-2">
                  <i class="fas fa-circle text-success"></i> Social
              </span>
              <span class="mr-2">
                  <i class="fas fa-circle text-info"></i> Referral
              </span>
          </div>
      </div>
  </div>
</div> -->