<div>
  {{ title }}
  <form enctype='multipart/form-data' @submit.prevent="submitForm">
    <img :src="imageUrl" >
    <input type="file" name="file" id="file" ref="myFile" accept=".jpeg,.jpg,.png,image/jpeg,image/png" @change="loadImage">
    <p v-if="imageError">{{imageErrorMsg}}</p>
    <input type="text" name="name" id="name" v-model="name" :disabled="!isAdminUser" placeholder="Nombre organización"  @blur="checkName">
    <p v-if="nameError">{{nameErrorMsg}}</p>
    <input type="email" name="email" id="email" v-model="email" :disabled="!isAdminUser" placeholder="Email"  @blur="checkEmail">
    <p v-if="emailError">{{emailErrorMsg}}</p>
    <input type="password" name="password1" id="password1" v-model="password1" placeholder="Contraseña" minlength="8">
    <input type="password" name="password2" id="password2" v-model="password2" placeholder="Repite la contraseña" minlength="8" @blur="checkPassword">
    <p v-if="passwordError">{{passwordErrorMsg}}</p>
    <label for="enabled">Habilitado</label>
    <input type="checkbox" name="enabled" id="enabled" v-model="enabled">
    <button type="submit">Guardar cambios</button>
  </form>
  <p v-if="userExistsError"> {{ userExistsErrorMsg }}</p>
</div>