<div class="container">
  <div class="card shadow mb-4">
    <div class="row align-items-baseline m-5">
      <!-- <div class="row align-items-baseline ml-2 mr-3"> -->
        <div class="col-lg-12 col-sm-12 text-center" >
          <p><h4 class="m-0 font-weight-bold text-primary " >Política de privacidad</h4></p>
        </div>
        <div class="col-lg-12 col-sm-12 text-justify" >
          <div class="p-2 border">
            <p>Desde MOLDES GARCIA UCLES SL nos comprometemos contigo a trabajar continuamente para garantizar la privacidad en el tratamiento de tus datos personales, y para ofrecerte en cada momento la información más completa y clara que podamos. Te animamos a leer detenidamente esta sección antes de facilitarnos tus datos personales.</p>

            <p>En este apartado te informamos de cómo tratamos los datos de las personas que tienen relación con nuestra organización. Empezando por nuestros principios:</p>

            <ul>
              <li>No solicitamos información personal, a no ser que sea necesaria para prestarte los servicios.</li>
              <li>Nunca compartimos información personal con nadie, excepto para cumplir la ley, o contemos con tu autorización.</li>
              <li>Nunca utilizaremos tus datos personales para finalidades distintas a las necesarias en la aplicación.</li>
              <li>Tus datos siempre serán tratados con un nivel de protección adecuado a la legislación en materia de protección de datos, y no los someteremos a decisiones</li>
            </ul>

            <p>La presente política de privacidad ha sido redactada teniendo en cuenta las exigencias del actual legislación de protección de datos:</p>

            <ul>
              <li>Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas (RGPD).</li>
              <li>Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos de Carácter Personal y garantía de los derechos digitales (LOPD).</li>
              <li>Real Decreto 1720/2007, de 21 de diciembre (RLOPD).</li>
            </ul>
            
            <p>Esta política de privacidad está redactada con fecha 5 de mamyo de 2022.</p>

            <p>Con motivo de la modificación de criterios de tratamiento, en aras de facilitar su comprensión o de adaptarla a la legalidad vigente, es posible que modifiquemos la presente política de privacidad. Actualizaremos la fecha de la misma, para que puedas comprobar su vigencia.</p>

          </div>
        </div>
        <!-- <div class="col-lg-4 col-sm-12" :class="{'text-right': width > 1000, 'text-left': width <= 1000}">
          <p><span>Creado el: {{getParsedDate(ticket.dates)}}</span></p>
        </div>
        <div class="col-lg-2 col-sm-12" :class="{'text-right': width > 1000, 'text-left': width <= 1000}">
          <p><span>Prioridad: {{ticket.prioridad}}</span></p>
        </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>