<div>
  <div id="wrapper">
    <side-nav-bar v-if="!isLoginPath && !hideSideNavBar" :hide-side-nav-bar="$vssWidth < 767"/>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <nav-bar v-if="!isLoginPath" />
        <Nuxt />
      </div>
      <footer v-if="isUserLogged" class="sticky-footer nav-background-color">
        <div class="container my-auto">
            <div class="copyright text-center my-auto text-white">
                <span>Copyright &copy; Ticket System 2022</span>
            </div>
        </div>
      </footer>
    </div>
  </div>
</div>