<div class="container">
  <div class="card shadow mb-4">
    <div class="row align-items-baseline ml-2 mr-3">
      <div class="col-lg-5 col-sm-12" style="display: flex; align-items: baseline;">
        <span class="btn-link pt-5 pl-3 pointer hoverNone w-50" @click="returnRoute"><font-awesome-icon icon="fa-solid fa-caret-left" />&nbsp;Volver atrás</span>
        <p><h4 class="m-0 font-weight-bold text-primary ">{{ticket.titulo}}</h4></p>
      </div>
      <div class="col-lg-3 col-sm-12 text-right">
        <p><span>Creado el: {{getParsedDate(ticket.dates)}}</span></p>
      </div>
      <div class="col-lg-2 col-sm-12 text-right">
        <p><span>Prioridad: {{ticket.prioridad}}</span></p>
      </div>
      <div class="col-lg-2 col-sm-12 pointer text-right">
        <p>
          <button class="btn btn-primary" @click="shareTicket">
            Compartir&nbsp;
            <font-awesome-icon icon="fa-solid fa-share-nodes" />
          </button>
        </p>
      </div>
    </div>
    <hr>
 
    <div v-for="(report, index) in reports" class="card shadow mt-4 ml-4 mr-4 p-3" :class="{'mb-4': index === reports.length-1}">
      <p class="mt-1 ml-1"><span>{{ report.contenido }}</span></p>
      <hr>
      <div class="row align-items-baseline">
        <div class="col-lg-5 col-sm-12">
          <p v-if="report.archivo_adjunto">Fichero: <a :href="report.url" download>{{ report.archivo_adjunto }}</a></p>
        </div>
        <div class="col-lg-3 col-sm-12 text-right">
          <p>Reporte creado por: <span class="text-capitalize">{{ responsable.nombre_organizacion }}</span></p>
        </div>
        <div class="col-lg-2 col-sm-12 text-right" >
          <p>{{ getParsedDate(report.fecha_creacion) }}</p>
        </div>
        <div class="col-lg-2 col-sm-12 pointer text-right">
          <button class="btn btn-primary" @click="reportsEditPath(report.id_reporte)">
            <font-awesome-icon icon="fa-solid fa-pen-to-square" />
          </button>&nbsp;
          <button class="btn btn-primary" @click="deleteSingleReport(report.id_reporte)">
            <font-awesome-icon icon="fa-solid fa-trash-can" />
           </button>
        </div>
      </div>      
    </div>

    <hr>
    
    <div class="flex" style="display: flex; justify-content: flex-end;">
      <button @click="addReport" class="btn btn-primary mb-4 mr-4">
        <font-awesome-icon icon="fa-solid fa-plus" />
        Añadir reporte
      </button>
    </div>
  </div>
</div>