<div class="container">
  <div class="card shadow mb-4">
    <div class="card-header py-3" style="    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;">
      <h4 class="m-0 font-weight-bold text-primary">Tickets existentes</h4>
      <button @click="createNewTicket" class="btn btn-primary">Añadir ticket</button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Título</th>
              <th>Fecha</th>
              <th>Activo</th>
              <th>Prioridad</th>
              <th>Ver reportes</th>
              <th>Editar</th>
              <th>Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(ticket, index) in tickets">
              <td><span @click="ticketsPath(ticket.id_ticket)" class="pointer link-color">{{ ticket.titulo }}</span></td>
              <td>{{ getParsedDate(ticket.dates) }}</td>
              <td>Estado: {{ estado(ticket.enabled) }}</td>
              <td>Prioridad: {{ ticket.prioridad }}</td>
              <td class="text-center pointer">
                <button class="btn btn-primary"  @click="ticketsPath(ticket.id_ticket)">
                  <font-awesome-icon icon="fa-solid fa-eye" />
                </button>
              </td>
              <td class="text-center pointer">
                <button class="btn btn-primary" @click="ticketsEditPath(ticket.id_ticket)">
                  <font-awesome-icon icon="fa-solid fa-pen-to-square" />
                </button>
              </td>
              <td class="text-center pointer">
                <button class="btn btn-primary" @click="setTicketToDelete(ticket.id_ticket)" data-toggle="modal" data-target="#deleteModal">
                  <font-awesome-icon icon="fa-solid fa-trash-can" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas eliminar este ticket?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecciona "Eliminar" si realmente deseas eliminar este ticket</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" @click="deleteTicket()"  data-dismiss="modal">Eliminar</a>
        </div>
      </div>
    </div>
  </div>
</div>