<div class="container">
  <div>
    <input type="text" v-model="search">
    <button @click="searchUser">Buscar</button>
    <button @click="resetUser" v-if="search.length > 0">Restablecer</button>

    <select name="filter" id="filter" v-model="filter">
      <option value="name&asc">Nombre A-Z</option>
      <option value="name&desc">Nombre Z-A</option>
      <option value="email&asc">Email A-Z</option>
      <option value="email&desc">Email Z-A</option>
      <option value="enabled&asc">Habilitados ↑</option>
      <option value="enabled&desc">Habilitados ↓</option>
      <option value="date&asc">Fecha ↑</option>
      <option value="date&desc">Fecha ↓</option>
    </select>

    <button @click="createNewUser">Añadir usuario</button>

    <section>
      <ul>
        <li v-for="(user, index) in users">
          <img :src="getImage(user.image)" />
          <span>{{ user.nombre_organizacion }}</span>
          <span>{{ user.email }}</span>
          <NuxtLink :to="usersPath(user.id_usuario)">Edit</NuxtLink>
          <button @click="deleteUser(user.id_usuario)">Delete</button>
        </li>
      </ul>
    </section>

    <section>
			<ul>
        <li v-for="index in numPages" :key="index" @click="changePage(index)">{{ index }}</li>
			</ul>
		</section>
  </div>
</div>