<div class="container">
  <div class="card shadow mb-4">
    <div class="card-header py-3" style="    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;">
      <h6 class="m-0 font-weight-bold text-primary">Usuarios registrados</h6>
      <button @click="createNewUser" class="btn btn-primary">Añadir usuario</button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Editar</th>
              <th>Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(user, index) in users">
              <td>
                <div style="width: 3em;
                    height: 3em;
                    overflow: hidden;
                    margin: auto;
                    position: relative;
                    text-align: center;">
                  <img :src="getImage(user.image)" class="img-profile rounded-circle" style="position:absolute;
                  left: -100%;
                  right: -100%;
                  top: -100%;
                  bottom: -100%;
                  margin: auto;
                  min-height: 100%;
                  min-width: 100%;
                  width: 3em;
                  height: 3em;" />
                </div>
              </td>
              <td>{{ user.nombre_organizacion }}</td>
              <td>{{ user.email }}</td>
              <td class="text-center pointer">
                <button class="btn btn-primary" @click="usersEditPath(user.id_usuario)">
                <font-awesome-icon icon="fa-solid fa-pen-to-square" />
              </button>
              </td>
              <td class="text-center pointer">
                <button class="btn btn-primary" @click="deleteModal(user.id_usuario)" data-toggle="modal" data-target="#deleteModal">
                  <font-awesome-icon icon="fa-solid fa-trash-can" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Deseas eliminar este usuario?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecciona "Eliminar" si realmente deseas eliminar este usuario</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" @click="deleteUser"  data-dismiss="modal">Eliminar</a>
        </div>
      </div>
    </div>
  </div>
</div>